/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Gray light 1: #faf9f9
Gray light 2: #f4f2f2
Gray light 3: #f0eeee
Gray light 4: #ccc

Gray dark 1: #333
Gray dark 2: #777
Gray dark 3: #999

*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #eb2f64; }
